*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.heading-1{
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  background: gainsboro;
  text-align: center;
}
.heading-1 .title{
  font-size: 50px;
  color: darkblue;
}
.heading-1 .title-3{
  color: brown;
  font-size: 30px;
  font-variant: small-caps;
}
.para{
  width: 80%;
  margin: 0 auto;
  padding: 50px 20px;
  background: #ff8c00a1;
}
.para .para-1,
.para .para-2{
  font-size: 16px;
  font-family: 'Poppins';
  color: #222;
  margin-top: 30px;
  text-align: justify;
}

/* image section style */
#image-sec{
  padding: 60px 0;
  background: #ddd;
}
#image-sec .box{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 350px;
}
#image-sec .box [class*='img']{
  flex-basis: 33.33%;
  padding: 10px;
  height: 100%;
}
img{
  width: 100%;
  height: 100%;
}
