*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.heading-1{
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  background: gainsboro;
  text-align: center;
}
.heading-1 .title{
  font-size: 50px;
  color: darkblue;
}
.heading-1 .title-3{
  color: brown;
  font-size: 30px;
  font-variant: small-caps;
}
.para{
  width: 80%;
  margin: 0 auto;
  padding: 50px 20px;
  background: #ff8c00a1;
}
.para .para-1,
.para .para-2{
  font-size: 16px;
  font-family: 'Poppins';
  color: #222;
  margin-top: 30px;
  text-align: justify;
}

/* image section style */
#image-sec{
  padding: 60px 0;
  background: #ddd;
}
#image-sec .box{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 350px;
}
#image-sec .box [class*='img']{
  flex-basis: 33.33%;
  padding: 10px;
  height: 100%;
}
img{
  width: 100%;
  height: 100%;
}

.new-para{
  background: cornsilk;
  padding: 50px 0;

  
}
.new-para p{
  font-size: 16px;
}

.img-hover{
  padding: 50px;
  background: #000;

}
.img-hover .row{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.img-hover .row .col-1{
  width: 31%;
}
.img-hover .img-box{
  overflow: hidden;
  position: relative;
}
.img-hover .img-box img{
  transition: transform 400ms;
  height: 350px;
}
.img-hover .img-box .overlay{
  transition: 400ms;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000078;
  visibility: hidden;
}
.img-hover .row .img-box h5{
  font-size: 30px;
  font-weight: 900;
  font-family: 'wide latin';
  color: #FFF;
}
.img-hover .img-box:hover .overlay{
  height: 100%;
  visibility: visible;
}
.img-hover .col-1{
  box-shadow: 2px 3px 10px #ccc;

}
.img-hover .col-1 .text{
  padding: 10px;
  background: #f1f1f1;
}
.img-hover .col-1 .text h4{
  font-size: 28px;
  margin: 10px 0;
}
.img-hover .col-1 .text p{
  font-size: 16px;
  margin: 10px 0;
}
.para-xx{
  padding: 60px 0;
  background: #222;
}
.para-xx{
  color: #fff;
  font-size: 16;
  font-weight: 600;
  font-family: 'muli';
  columns: 3 ;
  column-gap: 35px;
  column-rule: dashed #fff;
}